*.sqlite3
*.pyc
*.swp
*.scssc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Hide environment variables 
.ebextensions/02-cal.config

# Any .rc
cal/.fishrc

# Storage
.DS_Store

# Debug logs
cal/cal/npm-debug.log
