*.sqlite3
*.pyc
*.swp
*.scssc

# Bower
cal/cal/static/bower_components/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Hide environment variables
.ebextensions/02-cal.config

# DS Store
*.DS_Store

# NPM-debug log
cal/cal/npm-debug.log

cal/pip-selfcheck.json
env
setup.sh
