*.sqlite3
*.pyc
*.swp
*.scssc
node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Hide environment variables 
.ebextensions/02-cal.config
