appnope==0.1.0
decorator==4.0.2
Django==1.8.4
gnureadline==6.3.3
google-api-python-client==1.4.1
httplib2==0.9.1
ipython==4.0.0
ipython-genutils==0.1.0
oauth2client==1.5.0
path.py==8.1
pexpect==3.3
pickleshare==0.5
psycopg2==2.6.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
rsa==3.2
simplegeneric==0.8.1
simplejson==3.8.0
six==1.9.0
traitlets==4.0.0
uritemplate==0.6
wheel==0.24.0
