rpm:
  epel: ftp://195.220.108.108/linux/centos/7.0.1406/extras/x86_64/Packages/epel-release-7-2.noarch.rpm
packages:
  yum:
    git: []
    nodejs: []
    npm: []
    postgresql93-devel: []
commands:
  npm_install:
    command: yum -y --enablerepo=epel install nodejs npm
  npm_install_bower:
    command: npm install -g bower
