container_commands:
  01_pip_install:
    command: "source /opt/python/run/venv/bin/activate && pip install -r requirements.txt"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python cal/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python cal/manage.py createsu"
    leader_only: true
  04_bower_packages:
    command: "source /opt/python/run/venv/bin/activate && python cal/manage.py bower install -- --allow-root"
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python cal/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cal.settings"
    "PYTHONPATH": "/opt/python/current/app/cal:$PYTHONPATH"
    APP_ENVIRONMENT: "prod"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: cal/cal/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
