/*
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

// Example code
body {
    font: 100% $font-stack;
    color: $primary-color;
}
*/

.cal-stats-list {
    width: 25%;
    margin-left: 1%;
    margin-top: 1%;
}

.cal-home-logged-in .cal-calendar {
    padding-left: 10%;
    padding-right: 10%;
}

.cal-home-logged-out {
    .cal-main-display {		
        padding: 50px;		
        min-height: 400px;		
    }		
        
    .cal-call-to-action-text {		
        text-align: center;		
    }		
        
    .cal-signin-button {		
        position: relative;		
        height: 50px;		
        left: 50%;		
        bottom: 0;		
        width: 200px;		
        margin-left: -100px;		
        font-size: 16px;		
        font-weight: 500;		
    }
}

