{% load staticfiles %}
{% block top_html %}
<html ng-app="analyticsApp">
{% endblock %}
  <head>
    <title>CalendarAnalytics</title>
    <meta charset="utf-8">

    {% block head_css %}
      <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}">
      <link rel="stylesheet" href="{% static "css/calendaranalytics.css" %}">
      <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css' />
    {% endblock %}

    {% block head %}
      <script src="{% static "lib/js/jquery-1.11.3.min.js" %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

      <!-- Google Auth -->
      <script src="https://apis.google.com/js/api:client.js"></script>

      <!-- BEGIN FullCalendar -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data-2010-2020.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
      <!-- END FullCalendar -->

      <!-- Angular-NVD3 for Charts -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.8/angular-nvd3.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css">

    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {% block bottom_js %}
      <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/calendaranalytics.js" %}"></script>
      <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    {% endblock %}
  </body>
</html>
