{% load staticfiles %}
<html ng-app="analyticsApp">
  <head>
    <title>CalendarAnalytics</title>
    {% block meta %}
      <meta charset="utf-8">
    {% endblock %}

    {% block head_css %}
      <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" href="{% static "bower_components/fullcalendar/dist/fullcalendar.min.css" %}"/>
      <link rel="stylesheet" href="{% static "bower_components/nvd3/build/nv.d3.css" %}">
      <link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
      <link rel="stylesheet" href="{% static "css/calendaranalytics.css" %}">
    {% endblock %}

    {% block head %}
      <!-- JQuery -->
      <script src="{% static "lib/js/jquery-1.11.3.min.js" %}"></script>

      <!-- Moment.js -->
      <script type="text/javascript" src="{% static "bower_components/moment/min/moment.min.js" %}"></script>
      <script type="text/javascript" src="{% static "bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js" %}"></script>

      <!-- Angular -->
      <script src="{% static "bower_components/angular/angular.js" %}"></script>
      <script src="//unpkg.com/angular-ui-router@1.0.0-rc.1/release/angular-ui-router.js"></script>

      <!-- Angular UI-Calendar -->
      <!-- We use a minified library file because the bower angular version is not high enough -->
      <script type="text/javascript" src="{% static "lib/js/angular-ui-calendar.min.js" %}"></script>

      <!-- FullCalendar -->
      <script type="text/javascript" src="{% static "bower_components/fullcalendar/dist/fullcalendar.min.js" %}"></script>
      <script type="text/javascript" src="{% static "bower_components/fullcalendar/dist/gcal.js" %}"></script>

      <!-- QTip For Event Click -->
      <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>

      <!-- Google Auth -->
      <script src="https://apis.google.com/js/api:client.js"></script>

      <!-- For Graphs -->
      <script src="{% static "bower_components/d3/d3.js" %}"></script>
      <script src="{% static "bower_components/nvd3/build/nv.d3.js" %}"></script>
      <script src="{% static "bower_components/angular-nvd3/dist/angular-nvd3.js" %}"></script>

    {% endblock %}

  </head>
  <body>
    {% block content %}{% endblock %}

    {% block bottom_js %}
      <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/calendaranalytics.js" %}"></script>
      <script type="text/javascript" src="{% static "js/app.js" %}"></script>
      <script type="text/javascript" src="{% static "js/components/calendar.js" %}"></script>
      <script type="text/javascript" src="{% static "js/components/category-list.js" %}"></script>
      <script type="text/javascript" src="{% static "js/components/category-details.js" %}"></script>
      <script type="text/javascript" src="{% static "js/components/tag-list.js" %}"></script>
      <script type="text/javascript" src="{% static "js/components/tag-details.js" %}"></script>
      <script type="text/javascript" src="{% static "js/services.js" %}"></script>
    {% endblock %}
  </body>
</html>
