{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}

  <!-- START PSA G+ Logout -->
  <script type="text/javascript">
    // PSA G+ Logout
    gapi.load('auth2', function () {
      var auth2;
      auth2 = gapi.auth2.init({
        client_id: "{{ social_auth_google_plus_key }}",
        scope: "{{ social_auth_google_oauth2_scope | safe }}"
      });
      auth2.then(function () {
        // console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");
        if (auth2.isSignedIn.get()) {
          $('#logout').on('click', function (event) {
            event.preventDefault();
            auth2.signOut().then(function () {
              console.log("Logged out from Google+ platform");
              document.location = "/logout";
            });
          });
        }
      });
    });
    // function runFullSync() {
    //   if ("{{request.user.profile.first_time_authed}}" == "True") {
    //     window.location = "/v1/sync?full_sync=true&sync_all=true";
    //   };
    // };
    // window.onload = runFullSync;
  </script>
  <!-- END PSA G+ Logout -->

{% endblock %}

<!-- Information when logged in -->
{% block content %}
<div ng-controller="LoggedInCtrl" class="cal-home-logged-in">
  <ul class="nav nav-tabs">
    <li>
      <a href="/">CalendarAnalytics</a>
    </li>
    <li class="pull-right">
      <a id="logout" href="/logout">Log out</a>
    </li>
  </ul>
  {% if request.user.profile.authed %}

  <div ng-controller="CalendarCtrl as $ctrl" class="cal-calendar col-md-8">
    <!-- Enable / disable calendars button -->
    <div id="select-calendar-button">
      <div class="btn-group" >
      <button type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Select Calendars
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="cal in calendars">
          <a href="#">
            <input type="checkbox" ng-model="cal.enabled"
                   ng-click="$ctrl.toggleEnabled(cal.id); $ctrl.refresh('panalytics');">
            {% verbatim %} {{ cal.summary }} {% endverbatim %}
          </a>
        </li>
      </ul>
      </div>
    </div>
    <!-- Calendar -->
    <div ui-calendar="uiConfig.calendar" calendar="panalytics" class="calendar" ng-model="$ctrl.eventSources"></div>
  </div>

  <!-- Lists and other info on the side -->
  <div class="col-md-4">

    <category-list is-cumulative="false" display-name="Weekly" hide-zero-hours="true"></category-list>

    <tag-list is-cumulative="false" display-name="Weekly" hide-zero-hours="true"></tag-list>

    <category-list is-cumulative="true" display-name="Cumulative"></category-list>
    <tag-list is-cumulative="true" display-name="Cumulative"></tag-list>

    <!-- For new users, needing to connect their calendars -->
    {% else %}
      <body ng-controller="LoggedInCtrl" ng-init="init()">
        <div class="jumbotron">
          <h3><a href="/auth/google">Connect Google Calendar</a></h3>
        </div>
      </body>
    {% endif %}

    <!-- Super user buttons -->
    {% if request.user.is_staff %}
      <div>
        <h4 class="well">Options</h4>
        <a href="/v1/sync"><button class="btn btn-primary pull-left">Inc. Sync Main Calendar</button></a>
        <a href="/v1/sync?full_sync=true"><button class="btn btn-primary pull-left">Full Sync Main Calendar</button></a>
        <a href="/v1/sync?sync_all=true"><button class="btn btn-primary pull-left">Inc. Sync All Calendars</button></a>
        <a href="/v1/sync?full_sync=true&sync_all=true"><button class="btn btn-primary pull-left">Full Sync All Calendars</button></a>
        <a href="/auth/clear"><button class="btn btn-primary pull-left">Reset Credentials</button></a>
        <a href="/admin/generate-categories"><button class="btn btn-primary pull-left" style="margin-bottom: 25px;">Generate Categories</button></a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
