{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  {{ block.super }}
	<!-- BEGIN FullCalendar -->
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css' />
  <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js'></script>
	<!-- END FullCalendar -->

{% endblock %}

{% block content %}
<div class="cal-home-logged-in">
  <ul class="nav nav-tabs">
    <li>
      <a href="/">CalendarAnalytics</a>
    </li>
    <li class="pull-right">
      <a href="/logout" onclick="signOut();">Log out</a>
    </li>
  </ul>
  {% if request.user.profile.authed %}
    <div class="jumbotron">
				<div id='calendar' class="cal-calendar"></div>
    </div>
    {% include "_stats_list.html"%}
  {% else %}
    <div class="jumbotron">
        <h3><a href="/auth/google">Connect Google Calendar</a></h3>
    </div>
  {% endif %}
  {% if request.user.profile.authed %}
    <button class="btn btn-primary pull-right"><a href="/auth/clear">Reset credentials</a></button>
  {% endif %}
  <br>
</div>
{% endblock %}

{% block bottom_js %}
  {{ block.super }}
	<!-- BEGIN FullCalendar -->
	<script>
      calendar_next_url = "haha";
      $(document).ready(function() {
          $('#calendar').fullCalendar({
              defaultView: 'agendaWeek',
              events: function(start, end, timezone, callback) {
                  $.ajax({
                      url: "/v1/gevents.json",
                      dataType: 'json',
                      data: {
                          start: start.toISOString() + "T00:00:00Z",
                          end: end.toISOString() + "T00:00:00Z",
                      },
                      success: function(data) {
                          callback(data.results);
                      }
                  });
              }
          })
      });
	</script>
	<!-- END FullCalendar -->
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
  </script>
{% endblock %}
