{% extends "base.html" %}
{% load staticfiles %}

{% block top_html %}
  <html itemscope itemtype="http://schema.org/Article">
  <!-- ^ Google Server-Side App Sign In-->
{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/home_logged_out.css" %}">
{% endblock %}

{% block content %}
  <div class="jumbotron main-display">
    <h1>CalendarAnalytics</h1>
    <h3>If you use your calendar often, then you must have a decent timeline of how you spend your time.<br>Why not analyze it?</h3>
    <br><br>
    <h4 class="call-to-action-text">Log in to see stats on how you've been spending your time:</h4>
    <button id="signinButton" class="signin-button">Sign in with Google</button>
    <div id="result"></div>
    <!-- TODO Find a place to put this-->
    <!--<p>Tip: If you fill in the gaps, your stats will be even more meaningful!</p>-->
  </div>

  <!--BEGIN PSA -->
  <a href="{% url 'social:begin' 'google-auth2' %}">login</a>

  <form action="{% url 'social:begin' 'google-oauth2' %}" method="POST">
    <button type="submit">Second login</button>
  </form>
  <div id="google-plus-button">Google+ Sign In</div>
  <!--END PSA -->
  
{% endblock %}

{% block bottom_js %}
  {{ block.super }}
  <!-- BEGIN PSA G+ signin-->
  <!--
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script type="text/javascript">
		gapi.load('auth2', function () {
			var auth2;

			auth2 = gapi.auth2.init({
				client_id: "{{ google_client_id }}",
				scope: "https://www.googleapis.com/auth/calendar"
			});

			auth2.then(function () {
				var button = document.getElementById("google-plus-button");
				console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");

				auth2.attachClickHandler(button, {}, function (googleUser) {
					// Send access-token to backend to finish the authenticate
					// with your application

					var authResponse = googleUser.getAuthResponse();
					var $form;
					var $input;

					$form = $("<form>");
					$form.attr("action", "/complete/google-plus/");
					$form.attr("method", "post");
					$input = $("<input>");
					$input.attr("name", "access_token");
					$input.attr("value", authResponse.access_token);
					$form.append($input);
					// Add csrf-token if needed
					$(document.body).append($form);
					$form.submit();
				});
			});
		});
	</script>
  -->
  <!-- END PSA G+ signin-->

  <br>

  <!--BEGIN Sign in with Google-->
  <script>
    function signInCallback(authResult) {
      if (authResult['code'] && auth2.isSignedIn.get()) {
        var google_user = auth2.currentUser.get();

        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');

        // CSRF implementation for ajax requests
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
          }
        });

        // Send the code to the server
        $.ajax({
          type: 'POST',
          url: '/login/google',
          contentType: 'application/x-www-form-urlencoded',
          processData: true,
          dataType: "json",
          data: {
            code: authResult['code'],
            id_token: google_user.getAuthResponse().id_token,
          },
          success: function(result) {
            console.debug("Auth successful");
          },
          error: function(result) {
            console.log("Auth failed");
          },
          complete: function(result) {
            location.reload();
          },
        });
      } else {
        // There was an error.
        console.log('no authResult["Code"]')
      }
    }
    </script>
    <script>
    $('#signinButton').click(function() {
      auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
    });
  </script>
  <!--END Sign in with Google-->
{% endblock %}
