{% extends "base.html" %}

{% block top_html %}
  <html itemscope itemtype="http://schema.org/Article">
  <!-- ^ Google Server-Side App Sign In-->
{% endblock %}

{% block content %}
  <h1>Public homepage</h1>
  <button id="signinButton">Sign in with Google</button>
  <div id="result"></div>
{% endblock %}

{% block bottom_js %}
  {{ block.super }}
  <script>
    function signInCallback(authResult) {
      if (authResult['code'] && auth2.isSignedIn.get()) {
        var google_user = auth2.currentUser.get();

        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');

        // CSRF implementation for ajax requests
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); // TODO remove this if unnecessary
            }
          }
        });

        // Send the code to the server
        $.ajax({
          type: 'POST',
          url: '{{ base_url }}/login/google',
          contentType: 'application/x-www-form-urlencoded',
          processData: true,
          dataType: "json",
          data: {
            code: authResult['code'],
            id_token: google_user.getAuthResponse().id_token,
          },
          success: function(result) {
            console.debug("Auth successful");
          },
          error: function(result) {
            console.log("Auth failed");
          },
          complete: function(result) {
            location.reload();
          },
        });
      } else {
        // There was an error.
        console.log('no authResult["Code"]')
      }
    }
    </script>
    <script>
    $('#signinButton').click(function() {
      auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);
    });
  </script>
{% endblock %}
