{% extends "base.html" %}
{% load staticfiles %}

{% block meta %}
  {{ block.super }}
  <meta name="google-signin-scope" content="{{ social_auth_google_oauth2_scope | safe }}">
  <meta name="google-signin-client_id" content="{{ social_auth_google_plus_key }}">
{% endblock %}

{% block head %}
  {{ block.super }}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block content %}
<div class="cal-home-logged-out">
  <div class="cal-main-display">
    <h1>CalendarAnalytics</h1>
    <h3 class="cal-description">The most comprehensive way to analyze your time. What have you done over the years?</h3>
    <button id="google-plus-button" class="cal-signin-button">Sign In With Google</button>
  </div>

  <div class="cal-main-display">
    <h2>View accurate statistics based on your Google Calendar.</h2>
  </div>

  <div class="cal-main-display">
    <img src="{% static "img/category-detail.png" %}"/>
    <p>View the full history of time spent on your hobbies in the past year! Includes a trend line and a moving average, and the list of events that correspond to the Hobbies category!</p>
  </div>

  <div class="cal-main-display">
    <img src="{% static "img/category-sleep.png" %}"/>
    <p>Check out how much time you're spending on certain parts of your routine.</p>
  </div>

  <div class="cal-main-display">
    <img src="{% static "img/adding-tag.png" %}" />
    <p>Add tags based on keywords extracted from event names</p>
  </div>

  <div class="cal-main-display">
    <h2>Make cross connections with other data.</h2>
    <p>Showing detailed statistics of your data allows you to create comparisons with other data that you have. For example, a college student (and one of the founders) used Calendar Analytics' tagging system to determine <a href="https://medium.com/@tiffanyqi/a-college-students-individual-analysis-of-productivity-of-four-years-e51e5ec3af6">how much time she spent on her different classes and compared it to the grades she received in those classes</a>. With that information, she used real data to power real insights.</p>
  </div>

  <div class="cal-main-display">
    <h2>Orient yourself on your goals.</h2>
    <p>With transparency comes focus and goal setting. If you feel you spent too much time watching TV, you can actively work to decrease the numbers and see the results immediately.</p>
    <img src="{% static "img/tag-detail.png" %}"/>
  </div>

  <div class="cal-main-display">
    <h2>Sounds good? Try it out.</h2>
    <button id="google-plus-button" class="cal-signin-button">Sign In With Google</button>
  </div>

</div>
{% endblock %}

{% block bottom_js %}
  {{ block.super }}

  <script>
    function onSignIn(googleUser) {
      // Useful data for your client-side scripts:
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      // The ID token you need to pass to your backend:
      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);

      var authResponse = googleUser.getAuthResponse();
      var $form;
      var $input;

      $form = $("<form>");
      $form.attr("action", "/complete-with-token/google-plus/");
      $form.attr("method", "post");
      $input = $("<input>");
      $input.attr("name", "access_token");
      $input.attr("value", authResponse.access_token);
      $form.append($input);
      // Add csrf-token if needed
      $(document.body).append($form);
      $form.submit();
    };
  </script>

{% endblock %}
