.main-display {
    padding: 50px;
    min-height: 400px;
}

.call-to-action-text {
    text-align: center;
}

.signin-button {
    position: relative;
    height: 50px;
    left: 50%;
    bottom: 0;
    width: 200px;
    margin-left: -100px;
    font-size: 16px;
    font-weight: 500;
}
