<div class="cal-calendar">
  <!-- Enable / disable calendars button -->
  <div id="select-calendar-button">
    <div class="btn-group" >
    <button type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      Select Calendars
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" ng-click="$event.stopPropagation()">
      <li ng-repeat="cal in $ctrl.calendars">
        <label class="select-calendar-id">
          <input type="checkbox" id="checkbox" ng-model="cal.enabled"
            ng-click="$ctrl.toggleEnabled(cal.id); $ctrl.refresh('panalytics');">
            {{ cal.summary }}
        </label>
      </li>
    </ul>
    </div>
  </div>
  <!-- Calendar -->
  <div ui-calendar="uiConfig.calendar" calendar="panalytics" class="calendar" ng-model="$ctrl.eventSources"></div>
</div>
