<div>
  <div ng-hide="$ctrl.categoryEvents.dataLoaded" class="preloader"></div>
  <div ng-if="$ctrl.categoryEvents.dataLoaded">
    <h3 class="well">Average hours per {{$ctrl.timeStep}}: {{ $ctrl.averageHours }}<h3>
    <button ng-click='$ctrl.showDaily()'>Daily</button>
    <button ng-click='$ctrl.showWeekly()'>Weekly</button>
    <button ng-click='$ctrl.showMonthly()'>Monthly</button>
    <nvd3 options="$ctrl.categoryLine" data="$ctrl.ctrlGraphData"></nvd3>
    <h3 class="well">Contained Events</h3>
    <button ng-disabled="$ctrl.currentPage === $ctrl.lastPage - 1"
      ng-click='$ctrl.currentPage=$ctrl.currentPage+1; $ctrl.showPageEvents();'>Previous</button>
    <button ng-disabled="$ctrl.currentPage == 0"
      ng-click='$ctrl.currentPage=$ctrl.currentPage-1; $ctrl.showPageEvents();'>Next</button>
    <ul class="list-group" ng-repeat="event in $ctrl.pageEvents">
      <li class="list-group-item">{{ event.start }}: {{ event.name }}</li>
    </ul>
  <div>
</div>
