<div>
  <div ng-controller="CalendarCtrl as $ctrl">
    <!-- Enable / disable calendars button -->
    <div id="select-calendar-button">
      <div class="btn-group" >
      <button type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        Select Calendars
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" ng-click="$event.stopPropagation()">
        <li ng-repeat="cal in $ctrl.calendars">
          <a href="#">
            <label>
              <input type="checkbox" ng-model="cal.enabled"
                ng-click="$ctrl.toggleEnabled(cal.id); $ctrl.refresh('panalytics');">
                {{ cal.summary }}
            </label>
          </a>
        </li>
      </ul>
      </div>
    </div>
    <!-- Calendar -->
    <div ui-calendar="uiConfig.calendar" calendar="panalytics" class="calendar" ng-model="$ctrl.eventSources"></div>
  </div>
  <div ng-hide="$ctrl.tagEvents.dataLoaded" class="preloader"></div>
  <div ng-if="$ctrl.tagEvents.dataLoaded">
    <h3 class="well">Cumulative Hours: {{$ctrl.tagHours}}<h3>
    <h3 class="well">Average hours per {{$ctrl.timeStep}}: {{ $ctrl.averageHours }}<h3>
    <button ng-click='$ctrl.showDaily()'>Daily</button>
    <button ng-click='$ctrl.showWeekly()'>Weekly</button>
    <button ng-click='$ctrl.showMonthly()'>Monthly</button>
    <nvd3 options="$ctrl.tagLine" data="$ctrl.ctrlGraphData"></nvd3>
    <h3 class="well">Contained Events</h3>
    <ul class="list-group" ng-repeat="tag in $ctrl.tagEvents">
      <li class="list-group-item">{{ tag.start }}: {{ tag.name }}</li>
    </ul>
  </div>
</div>
